<div class="create-auction loginsignup" ng-controller="AuctionCtrl as auction">
    <md-dialog aria-label="Create Auction">
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-content class="md-padding">
                <md-content layout-padding class="">
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <img class="md-user-avatar" data-ng-src="{{seller.personimg}}" />
                            </md-card-avatar>
                            <md-card-header-text>
                                <span class="md-subhead"> posting as</span>
                                <span class="md-title">{{(seller.firstname + " " +seller.lastname) | uppercase}}</span>

                            </md-card-header-text>

                            <div class="item-image">
                                <img class="md-user-avatar" ngf-src="!f.$error &amp;&amp; f" />
                                <md-button class="md-fab" aria-label="upload image" ng-hide="!f.$error &amp;&amp; f">
                                    <label for="file-input-auction">
                                        <md-icon md-svg-icon="../images/camera.svg"></md-icon>
                                    </label>

                                </md-button>
                                <h6 ng-hide="!f.$error &amp;&amp; f">upload item image</h6>
                                <input id="file-input-auction" type="file" ngf-select="PostImage($file, $invalidFiles)" accept="image/*" ngf-max-size="1MB">
                            </div>

                        </md-card-header>
                        <md-card-content>
                            <form name="auctionForm" ng-submit="auctionForm.$valid && auction.post()" novalidate>

                                <md-input-container layout="column">
                                    <label class="mdi"> Item name</label>
                                    <input name="itemname" ng-model="auction.info.itemname" type="text" ng-required="true">
                                    <div ng-messages="auctionForm.itemname.$error" ng-if="auctionForm.$submitted">
                                        <div ng-message="required"> Item name is required.</div>
                                    </div>
                                </md-input-container>
                                <md-input-container layout="column">
                                    <label class="mdi"> Item Description</label>
                                    <input name="itemdescription" ng-model="auction.info.descriptions" type="text" ng-required="true">
                                    <div ng-messages="auctionForm.itemdescription.$error" ng-if="auctionForm.$submitted">
                                        <div ng-message="required"> Item description is required.</div>
                                    </div>
                                </md-input-container>
                                <div layout layout="column">
                                    <md-input-container md-no-float flex class="md-block" ng-required="true" class="md-block">
                                        <label class="mdi"> Category</label>
                                        <md-select ng-model="auction.info.category" ng-required="true" name="itemtype">
                                            <md-option ng-repeat="cat in catOptions" value="{{cat.itemtype}}" required="true">
                                                {{cat.itemtype | uppercase}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                    <md-input-container md-no-float flex class="md-block" ng-required="true" class="md-block">
                                        <label class="mdi"> Select Rep</label>
                                        <md-select ng-model="auction.info.monitor" ng-required="true" name="itemtype">
                                            <md-option ng-repeat="cat in monitors" value="{{cat.monitorssn}}" required="true">
                                                {{(cat.monitorfirstname + " " +cat.monitorlastname) | uppercase}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>

                                </div>
                                <div layout layout="column">
                                    <md-input-container flex>
                                        <label class="mdi"> Year Manufactured</label>
                                        <input name="itemyear" ng-model="auction.info.year" type="number" ng-required="true">
                                    </md-input-container>
                                    <md-input-container flex layout="column">
                                        <label class="mdi"> Open bid</label>
                                        <input name="itemname" ng-model="auction.info.openbid" type="text" ng-currency min="1" ng-required="true">
                                    </md-input-container>
                                    <!--
                                    <md-input-container flex layout="column">
                                        <label class="mdi"> Bid increment</label>
                                        <input name="itemname" ng-model="auction.info.bidincrement" type="text" ng-currency min="1" fraction="0" ng-required="true">
                                    </md-input-container>
-->
                                    <md-input-container flex required layout="column">
                                        <label class="mdi"> Reserved price</label>
                                        <input name="itemname" ng-model="auction.info.reservePrice" type="text" ng-currency ng-required="false">
                                    </md-input-container>
                                </div>
                                <div layout layout="column" class="time-picker">
                                    <md-datepicker flex name="postdateField" ng-model="auction.info.postdate" md-placeholder="Open date" ng-required="true" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                                    <md-input-container flex layout="column">
                                        <label class="mdi mdi-timer">Open time (HH:mm:ss)</label>
                                        <input type="time" name="posttimeField" ng-model="auction.info.posttime" ng-required="true" />
                                    </md-input-container>
                                </div>
                                <div layout layout="column" class="time-picker">
                                    <md-datepicker flex name="expiredateField" ng-model="auction.info.expiredate" md-placeholder="Expire date" ng-required="true" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                                    <md-input-container flex layout="column">
                                        <label class="mdi mdi-timer">Expire time (HH:mm:ss)</label>
                                        <input type="time" name="expiretimeField" ng-model="auction.info.expiretime" ng-required="true" />
                                    </md-input-container>
                                </div>
                            </form>
                        </md-card-content>
                    </md-card>

                </md-content>
            </md-content>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="close()" class="mdi mdi-close-circle" aria-label="Close form">
                    CLOSE
                </md-button>
                <md-button class="md-primary mdi mdi-checkbox-marked-circle" ng-click="auction.post()">
                    POST
                </md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </md-dialog>
</div>
