<div class="container">
    <div class="bigadmin-page profile-page loginsignup create-auction">
        <div cg-busy="bigadminpromise"></div>
        <div ng-controller="BigAdminCtrl" layout="column" ng-cloak>
            <md-tabs md-dynamic-height md-border-bottom md-center-tabs md-border-bottom md-autoselect md-selected="selectedIndex" md-border-bottom="" md-autoselect="">
                <md-tab id="profile" label="My Profile">
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding card-stuff">
                            <md-card>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" data-ng-src="{{profile.personimg}}" />
                                    </md-card-avatar>
                                    <md-card-header-text class="name">
                                        <span class="md-subhead"> HELLO, {{(profile.firstname + " " +profile.lastname) | uppercase}}</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-card-content>
                                    <div class="contact-info">
                                        <div class="title">
                                            <div class="info">Contact Information </div>
                                        </div>
                                    </div>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">First Name:</span>
                                            <p>{{profile.firstname}}</p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Last Name:</span>
                                            <p>{{profile.lastname}}</p>
                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Email:</span>
                                            <p>{{profile.email}}</p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Phone:</span>
                                            <p>{{profile.telephone}}</p>
                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Address:</span>
                                            <p>{{profile.address}}</p>

                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">City: </span>
                                            <p>{{profile.city}}</p>
                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">State: </span>
                                            <p>{{profile.state}}</p>

                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">ZipCode: </span>
                                            <p>{{profile.zipcode}}</p>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Start Date: </span>
                                            <p>{{profile.startdate |date:"MM/dd/yyyy"}}</p>

                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Hourly Rate: </span>
                                            <p>{{profile.hourlyrate | currency}}</p>
                                        </md-list-item>
                                    </div>


                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab id="employee-lists" label="Employee Lists">
                    <div cg-busy="bigadminpromise"></div>
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding">
                            <md-card>
                                <!--<md-subheader class="md-no-sticky">Select</md-subheader> -->
                                <md-list-item ng-repeat="person in employees">
                                    <img alt="{{ person.firstname }}" ng-src="{{ person.personimg }}" class="md-avatar" />
                                    <span>{{(person.firstname +" "+person.lastname) | uppercase}}</span>
                                    <span>{{person.customerid}}</span>
                                    <span>{{person.hourlyrate | currency}}/hr</span>
                                    <md-icon md-svg-icon="../images/pencil.svg" ng-click="showUpdateDialog($event, person)" aria-label="Update" class="pencil-right" class="pencil"></md-icon>
                                    <md-icon md-svg-icon="../images/delete.svg" ng-click="user.deleteEmployee(person)" aria-label="Delete" class="md-secondary md-hue-3"></md-icon>
                                    <md-divider md-inset ng-if="!$last"></md-divider>
                                </md-list-item>
                            </md-card>
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab id="list-of-items" label="List of Sales">
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding">
                            <!--   <md-card class="fix-card">-->

                            <md-card>
                                <md-subheader class="md-no-sticky">Sales Report</md-subheader>
                                <md-input-container class="width-fifty">
                                    <md-button ng-click="user.revenuebymonth_button()" class="md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Click to generate Sales Report.
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="monthRevenue">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Sales Month</th>
                                                <th>Sales Year</th>
                                                <th>Total Sales</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in monthRevenue">
                                            <tr>

                                                <td>{{person.salesmonth - 1 | date:"MMMM"}}</td>
                                                <td>{{person.salesyear}}</td>
                                                <td>{{person.totalsales | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-list-item>
                            </md-card>
                            <md-card>
                                <md-subheader class="md-no-sticky">Best Item List</md-subheader>
                                <md-input-container class="width-fifty">
                                    <md-button ng-click="user.bestitemlist_button()" class="md-primary mdi mdi-marker-check" aria-label="Best Item">
                                        Click to generate Best Item List
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="bestitemlist">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Item Name</th>
                                                <th>Copies Sold</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in bestitemlist">
                                            <tr>
                                                <td>{{person.itemname | uppercase}}</td>
                                                <td>{{person.copiessold}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </md-list-item>
                            </md-card>
                            <md-card>
                                <md-subheader class="md-no-sticky">Search for List of Sales by Customer ID</md-subheader>
                                <md-input-container class="width-fifty">
                                    <label>Enter customer id</label>
                                    <input name="listsalecustomer" ng-model="listsalecustomer" type="text">
                                    <md-button ng-click="user.listsalecustomer_button(listsalecustomer)" class="md-primary md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Search
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="customerSales">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Title</th>
                                                    <th>Category</th>
                                                    <th>Current Bid</th>
                                                    <th>Total Bidders</th>
                                                    <th>Expires in</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="person in customerSales">
                                                <tr>
                                                    <td><img alt="{{ person.itemname }}" ng-src="{{ person.itemimg }}" class="md-avatar" /></td>
                                                    <td>{{person.itemname | uppercase}}</td>
                                                    <td>{{person.itemtype | uppercase}}</td>
                                                    <td>{{person.currentbid | currency}}</td>
                                                    <td>{{person.totalbidders}}</td>
                                                    <td>{{person.expiredates | date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </md-list-item>
                            </md-card>

                            <md-card>
                                <md-subheader class="md-no-sticky">Search for List of Sales by Item Name</md-subheader>
                                <md-input-container class="width-fifty">
                                    <label>Enter item name</label>
                                    <input name="listsalecustomer" ng-model="listsaleitem" type="text">
                                    <md-button ng-click="user.listsalesitem_button(listsaleitem)" class="md-primary md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Search
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="itemSales">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Image</th>
                                                    <th>Title</th>
                                                    <th>Category</th>
                                                    <th>Current Bid</th>
                                                    <th>Total Bidders</th>
                                                    <th>Expires in</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="person in itemSales">
                                                <tr>
                                                    <td><img alt="{{ person.itemname }}" ng-src="{{ person.itemimg }}" class="md-avatar" /></td>
                                                    <td>{{person.itemname | uppercase}}</td>
                                                    <td>{{person.itemtype | uppercase}}</td>
                                                    <td>{{person.currentbid | currency}}</td>
                                                    <td>{{person.totalbidders}}</td>
                                                    <td>{{person.expiredates | date}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </md-list-item>
                            </md-card>
                            <!--    </md-card>-->
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab id="list-of-revenue" label="Revenue">
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding">
                            <!-- <md-card class="fix-card"> -->
                            <md-subheader class="md-no-sticky">Search for revenue by particular item</md-subheader>
                            <md-card>
                                <md-input-container class="width-fifty">
                                    <label>Enter item name</label>
                                    <input name="revenueitemid" ng-model="revenueitemid" type="text">
                                    <md-button ng-click="user.revenueitemid_button(revenueitemid)" class="md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Search
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="itemidrevenue">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Item Image</th>
                                                <th>Item Name</th>
                                                <th>Total Revenue Generated</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in itemidrevenue">
                                            <tr>
                                                <td> <img alt="{{ person.itemname }}" ng-src="{{ person.itemimg }}" class="md-avatar" /></td>
                                                <td>{{person.itemname | uppercase}}</td>
                                                <td>{{person.totalsales | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </md-list-item>
                            </md-card>
                            <md-subheader class="md-no-sticky">Search for revenue by particular item type</md-subheader>
                            <md-card>
                                <md-input-container class="width-fifty">
                                    <label>Enter item type</label>
                                    <input name="revenueitemtype" ng-model="revenueitemtype" type="text">
                                    <md-button ng-click="user.revenueitemtype_button(revenueitemtype)" class="md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Search
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="itemtyperevenue">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Total Revenue Generated</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in itemtyperevenue">
                                            <tr>
                                                <td>{{person.itemtype | uppercase}}</td>
                                                <td>{{person.totalsales | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </md-list-item>
                            </md-card>
                            <md-subheader class="md-no-sticky">Search for revenue by a particular seller</md-subheader>
                            <md-card>
                                <md-input-container class="width-fifty">
                                    <label>Enter a seller id</label>
                                    <input name="revenuebysellerid" ng-model="revenuebysellerid" type="text">
                                    <md-button ng-click="user.revenuebysellerid_button(revenuebysellerid)" class="md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Search
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="selleridrevenue">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Seller Profile Image</th>
                                                <th>Seller Profile Name</th>
                                                <th>Renvenue Generated</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in selleridrevenue">
                                            <tr>
                                                <td> <img alt="{{ person.firstname }}" ng-src="{{ person.personimg }}" class="md-avatar" /></td>
                                                <td>{{(person.firstname +" "+ person.lastname) | uppercase}}</td>
                                                <td>{{person.totalsales | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </md-list-item>
                            </md-card>
                            <md-subheader class="md-no-sticky">Staff Generated Most Revenue</md-subheader>
                            <md-card>
                                <md-input-container class="width-fifty">
                                    <md-button ng-click="user.staffrevenue_button()" class="md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Click to generate staff revenue report.
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="staffRevenue">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Staff Profile Name</th>
                                                <th>Renvenue Generated</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in staffRevenue">
                                            <tr>
                                                <td>{{(person.firstname +" "+ person.lastname) | uppercase}}</td>
                                                <td>{{person.revenuegenerated | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </md-list-item>
                            </md-card>
                            <md-subheader class="md-no-sticky">Customer Generated Most Revenue</md-subheader>
                            <md-card>
                                <md-input-container class="width-fifty">
                                    <md-button ng-click="user.customerrevenue_button()" class="md-primary mdi mdi-marker-check" aria-label="Close form">
                                        Click to generate customer revenue report.
                                    </md-button>
                                </md-input-container>
                                <md-list-item ng-if="customerRevenue">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Customer Profile Name</th>
                                                <th>Renvenue Generated</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="person in customerRevenue">
                                            <tr>
                                                <td>{{(person.firstname +" "+ person.lastname) | uppercase}}</td>
                                                <td>{{person.totalsales | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </md-list-item>
                            </md-card>
                            <!-- </md-card> -->
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab id="add-employee" label="Add Employee">
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding">
                            <md-card>
                                <form name="signup" ng-submit="signup.$valid && user.signupFAdmin()" novalidate>
                                    <md-card-header class="add-employee-header">
                                        <md-card-avatar>
                                            <img class="md-user-avatar" ngf-src="!fadmin.$error &amp;&amp; fadmin" />
                                            <md-button class="md-fab" aria-label="upload image" ng-hide="!fadmin.$error &amp;&amp; fadmin">
                                                <label for="file-input-admin">
                                                    <md-icon md-svg-icon="../images/camera.svg"></md-icon>
                                                </label>
                                            </md-button>
                                            <input id="file-input-admin" type="file" ngf-select="PostImage($file, $invalidFiles)" accept="image/*" ngf-max-size="1MB">

                                        </md-card-avatar>
                                        <h6 ng-hide="!fadmin.$error &amp;&amp; fadmin" aria-hidden="false">upload employee image</h6>
                                        <md-card-header-text ng-show="!fadmin.$error &amp;&amp; fadmin">
                                            <span class="md-subhead">Your employee will appear as</span>
                                            <span class="md-title">{{(user.signup.firstname + " " + user.signup.lastname) | uppercase}}</span>
                                        </md-card-header-text>
                                    </md-card-header>
                                    <br></br>
                                    <div layout layout="column">
                                        <md-input-container required md-is-error="signup.userID.$invalid && (signup.$submitted || signup.userID.$touched)" flex>
                                            <label class="mdi mdi-account"> UserID</label>
                                            <input name="userID" ng-model="user.signup.ssn" ng-required="true" type="text">
                                            <div ng-messages="signup.userID.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">UserID is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container required md-is-error="signup.userpassword.$invalid && (signup.$submitted || signup.userpassword.$touched)" flex>
                                            <label name="userpassword" class="mdi mdi-account-key"> Password</label>
                                            <input name="userpassword" ng-model="user.signup.userpassword" ng-required="true" type="password">
                                            <div ng-messages="signup.userpassword.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">Password is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>



                                    <div layout layout="column">
                                        <md-input-container flex required md-is-error="signup.firstname.$invalid && (signup.$submitted || signup.firstname.$touched)">
                                            <label name="firstname" class="mdi mdi-account"> First Name</label>
                                            <input name="firstname" ng-model="user.signup.firstname" ng-required="true" type="text">
                                            <div ng-messages="signup.firstname.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">Firstname is required.</div>
                                            </div>
                                        </md-input-container>

                                        <md-input-container flex required md-is-error="signup.lastname.$invalid && (signup.$submitted || signup.lastname.$touched)">
                                            <label name="lastname" class="mdi mdi-account"> Last Name</label>
                                            <input name="lastname" ng-model="user.signup.lastname" ng-required="true" type="text">
                                            <div ng-messages="signup.lastname.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">Last name is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout layout="column">
                                        <md-input-container flex class="md-block" required md-is-error="signup.email.$invalid && (signup.$submitted || signup.email.$touched)">
                                            <label name="email" class="mdi mdi-email"> Email</label>
                                            <input name="email" ng-model="user.signup.email" type="email" ng-required="true">
                                            <div ng-messages="signup.email.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">Email is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex class="md-block" required md-is-error="signup.address.$invalid && (signup.$submitted || signup.address.$touched)">
                                            <label name="address" class="mdi mdi-home-variant"> Address</label>
                                            <input name="address" ng-model="user.signup.address" ng-required="true" type="text">
                                            <div ng-messages="signup.address.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">Address is required.</div>
                                            </div>
                                        </md-input-container>

                                    </div>


                                    <div layout layout="column">
                                        <md-input-container flex required md-is-error="signup.city.$invalid && (signup.$submitted || signup.city.$touched)">
                                            <label name="city" class="mdi mdi-city"> City</label>
                                            <input name="city" ng-model="user.signup.city" ng-required="true" type="text">
                                            <div ng-messages="signup.city.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">City is required.</div>
                                            </div>
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>State</label>
                                            <md-select ng-model="user.signup.state">
                                                <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                                    {{state.abbrev}}
                                                </md-option>
                                            </md-select>
                                        </md-input-container>
                                        <md-input-container flex required md-is-error="signup.zipcode.$invalid && (signup.$submitted || signup.zipcode.$touched)">
                                            <label name="zipcode" class="mdi mdi-map-marker"> ZipCode</label>
                                            <input name="zipcode" ng-model="user.signup.zipcode" ng-required="true" type="text" ng-pattern="/^[0-9]{5}$/" maxlength="5">
                                            <div ng-messages="signup.zipcode.$error" role="alert" ng-if="signup.$submitted">
                                                <div ng-message="required">ZipCode is required.</div>
                                                <div ng-message="pattern">Not a valid zipcode.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout layout="column">
                                        <md-input-container flex required md-is-error="signup.telephone.$invalid && (signup.$submitted || signup.telephone.$touched)">
                                            <label name="telephone" class="mdi mdi-phone"> Telephone</label>
                                            <input name="telephone" ng-model="user.signup.telephone" ng-required="true" type="tel">
                                            <div ng-messages="signup.telephone.$error" ng-if="signup.$submitted">
                                                <div ng-message="required">Telephone is required.</div>
                                            </div>
                                        </md-input-container>
                                    </div>
                                    <div layout layout="column">
                                        <md-datepicker flex name="postdateField" ng-model="user.signup.startdate" md-placeholder="Start Date" ng-required="true" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
                                        <md-input-container flex layout="column">
                                            <label class="mdi"> Hourly Rate</label>
                                            <input name="itemname" ng-model="user.signup.hourlyrate" type="text" ng-currency min="1" ng-required="true">
                                        </md-input-container>
                                    </div>
                                    <md-input-container layout="column" flex>
                                        <md-button class="md-primary mdi mdi-account-check" type="submit">
                                            SUBMIT
                                        </md-button>
                                    </md-input-container>
                                </form>
                            </md-card>
                        </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>