<div class="container">
    <div class="profile-page loginsignup create-auction">
        <div ng-controller="BigAdminCtrl" layout="column" ng-cloak>
            <md-tabs md-dynamic-height md-border-bottom md-center-tabs md-border-bottom md-autoselect>
                <md-tab id="profile" label="My Profile">
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding">
                            <md-card>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" data-ng-src="{{profile.personimg}}" />
                                    </md-card-avatar>
                                    <md-card-header-text class="name">
                                        <span class="md-subhead"> Hello, {{(profile.firstname + " " +profile.lastname) }}</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-card-content>
                                    <div class="contact-info">
                                        <div class="title">
                                            <div class="info">Contact Information </div>
                                            <div class="edit">Click to edit, anywhere to save, Update button to update.</div>
                                        </div>
                                    </div>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">First Name:</span>
                                            <p>{{profile.firstname}}</p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Last Name:</span>
                                            <p>{{profile.lastnamename}}</p>
                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Email:</span>
                                            <p inline-edit="profile.email" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Address:</span>
                                            <p inline-edit="profile.address" inline-edit-on-blur="save" inline-edit-on-click></p>

                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">City: </span>
                                            <p inline-edit="profile.city" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">ZipCode: </span>
                                            <p inline-edit="profile.zipcode" inline-edit-on-blur="save" inline-edit-on-click></p>

                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Telephone: </span>
                                            <p inline-edit="profile.telephone" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">CreditCard: </span>
                                            <p inline-edit="profile.creditcardnum" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-content>
                </md-tab>
                <md-tab id="order-history" label="Order History">
                    <md-content class="md-padding center-card">
                        <md-content layout-padding class="more-padding">
                            <md-card>
                                <md-card-header>
                                    <md-card-avatar>
                                        <img class="md-user-avatar" data-ng-src="{{profile.personimg}}" />
                                    </md-card-avatar>
                                    <md-card-header-text class="name">
                                        <span class="md-subhead"> Hello, {{(profile.firstname + " " +profile.lastname) }}</span>
                                    </md-card-header-text>
                                </md-card-header>
                                <md-card-content>
                                    <div class="contact-info">
                                        <div class="title">
                                            <div class="info">Contact Information </div>
                                            <div class="edit">Click to edit, anywhere to save, Update button to update.</div>
                                        </div>
                                    </div>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">First Name:</span>
                                            <p inline-edit="profile.firstname" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Last Name:</span>
                                            <p inline-edit="profile.lastname" inline-edit-on-blur="save" inline-edit-on-click></p>

                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Email address:</span>
                                            <p inline-edit="profile.email" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">Address:</span>
                                            <p inline-edit="profile.address" inline-edit-on-blur="save" inline-edit-on-click></p>

                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">City: </span>
                                            <p inline-edit="profile.city" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>

                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">ZipCode: </span>
                                            <p inline-edit="profile.zipcode" inline-edit-on-blur="save" inline-edit-on-click></p>

                                        </md-list-item>
                                    </div>
                                    <md-divider></md-divider>
                                    <div layout class="profile-info-text">
                                        <md-list-item class="secondary-button-padding list-left" flex>
                                            <span class="sub-info">Telephone: </span>
                                            <p inline-edit="profile.telephone" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>
                                        <md-list-item class="secondary-button-padding list-right" flex>
                                            <span class="sub-info">CreditCard: </span>
                                            <p inline-edit="profile.creditcardnum" inline-edit-on-blur="save" inline-edit-on-click></p>
                                        </md-list-item>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </div>
</div>