<!--
    Including Slider here.
-->
<div ng-include="'views/staffPicks.html'" class="container set-container-margin"></div>
<section id="topseller" ng-controller="TopsellercatCtrl as top" flex ng-cloak>
    <div class="container" ng-if="topsellerpromise">
        <div class="title" ng-if="topsellercategory">
            TOP SELLER ITEMS
        </div>
        <div class="categories">
            <a class="card" ng-repeat="category in topsellercategory" ui-sref="product({ auctionId: category.auctionid })">
                <md-card>
                    <img class="md-card-image" ng-src="{{category.itemimg}}">
                    <!--<md-icon md-svg-src="../images/categories/{{category.itemtype}}.svg"></md-icon>-->
                    <md-card-content>
                        <div class="left">
                            <h5 class="md-title">{{category.itemname}}</h5>
                        </div>
                        <div class="right">
                            <span><i class="mdi mdi-tag-text-outline"></i> <span>{{category.itemsold}}</span></span>
                        </div>
                    </md-card-content>
                </md-card>
            </a>
        </div>
    </div>
</section>