<div class="product-single width-control create-auction  biddialog" ng-controller="ProductCtrl as product" ng-cloak>
    <div cg-busy="productpromise"></div>
    <md-card ng-if='auction.itemname'>
        <div class="reserved-top" ng-if="auction.reserveprice">
            THIS ITEM HAS RESERVED PRICE SET BY SELLER
        </div>
        <img ng-src="{{auction.itemimg}}" class="md-card-image" alt="{{auction.itemname}}">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{auction.itemname | uppercase}}</span>
            </md-card-title-text>

        </md-card-title>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="{{auction.sellerimg}}" alt="{{auction.firstname}}">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-subhead">Seller</span>
                <span class="md-title">{{(auction.firstname + " "+ auction.lastname) | uppercase }}</span>
            </md-card-header-text>
            <md-card-header-text>
                <span class="md-subhead">Rating </span></span>
                <span class="md-title center">{{(auction.rating ) | uppercase }}<span class="mdi mdi-star"></span>
            </md-card-header-text>
            <md-card-header-text>
                <span class="md-subhead">Total bids</span>
                <span class="md-title center">{{(auction.totalbidders) | number }}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="row">
                <div flex>
                    <h5 class="bid-italic">
                        Item Overview:
                    </h5>
                    <div class="item-overview">
                        <p>Description: {{auction.descriptions}}</p>
                        <ul>
                            <li>
                                Opened: {{auction.postdate | date:"MM/dd/yyyy 'at' h:mma"}}
                            </li>
                            <li>
                                Ending: {{auction.expiredates | date:"MM/dd/yyyy 'at' h:mma"}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div flex ng-if="currentUser.id">
                    <form name="bid" ng-submit="bid.$valid && product.post()" novalidate>
                        <md-input-container required class="md-block" md-is-error="bid.bidamount.$invalid && (bid.$submitted || bid.bidamount.$touched)">
                            <label class="mdi mdi-cart"> Enter Bid Amount</label>
                            <input name="bidamount" ng-model="product.bidprice" required type="number" min="{{auction.bidincrement}}">
                            <div ng-messages=" bid.bidamount.$error " ng-if="bid.$submitted || bid.bidamount.$invalid">
                                <div ng-message="required ">bidamount can't be empty.</div>
                                <div ng-message="min">Bid amount atleast be {{auction.bidincrement | currency}}</div>
                            </div>
                            <h6 class="mdi "> Enter {{((auction.bidincrement)| currency:"USD$")}} or more</h6>
                        </md-input-container>
                    </form>
                </div>
                <div ng-if="!currentUser.id " ng-controller="AuthCtrl as auth ">
                    <md-button class="md-primary md-raised md-button-override" flex="15 " ng-click="showLoginSignupDialog($event)" flex>CLICK HERE TO BID</md-button>
                </div>
            </div>
        </md-card-content>
        <md-card-actions layout="row">
            <span flex>  </span>
            <md-button class="md-primary mdi mdi-checkbox-marked-circle " ng-click="product.post() " ng-if="currentUser.id">
                PLACE BID
            </md-button>


        </md-card-actions>
    </md-card>
    <md-card ng-if='productpromise'>
        <md-card-title style="text-align:center; color: #9E7393" ng-if="!auction.itemname">
            <md-card-title-text>
                <h4>This associated item is SOLD!</h4>
                <h4 ng-if="auctionhistory">Though, the bidding activity is avilable below!</h4>
            </md-card-title-text>

        </md-card-title>
    </md-card>

    <md-card ng-if="auctionhistory">
        <div cg-busy="auctionhistorypromise"></div>
        <md-subheader class="">BIDDING HISTORY</md-subheader>
        <!--<md-subheader class="md-no-sticky">Select</md-subheader>
                <md-list-item ng-repeat="person in auctionhistory.slice().reverse()">
                    <img alt="{{ person.firstname }}" ng-src="../images/placeholder.jpg" class="md-avatar" />

                    <span class="bidder">{{(person.currentwinner) | uppercase}}</span>
                    <span classs="price-tag">{{person.currentbid | currency}}</span>
                    <md-icon class="mdi mdi-crown" ng-show="person.currentwinner == person.bidder" aria-label="Delete" class="md-secondary md-hue-3"></md-icon>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>
-->
        <md-list-item>
            <table class="table">
                <thead>
                    <tr>
                        <th>Bidder</th>
                        <th>Current Bid</th>
                        <th>Bid Increment</th>
                        <th>Bid Winner</th>
                    </tr>
                </thead>
                <tbody ng-repeat="person in auctionhistory.slice().reverse()">
                    <tr>
                        <td>{{(person.bidder) | uppercase}}</td>
                        <td>{{person.currentbid | currency}}</td>
                        <td>{{person.bidincrement | currency}}</td>
                        <td class="mdi mdi-crown">{{person.currentwinner | uppercase}}</td>
                    </tr>
                </tbody>
            </table>
        </md-list-item>

    </md-card>
    <br>
</div>