<div class="product-single width-control create-auction  biddialog" ng-controller="ProductCtrl as product">
    <md-card>
        <div class="reserved-top" ng-show="{{auction.reserveprice}}">
            THIS ITEM HAS RESERVED PRICE SET BY SELLER
        </div>
        <img ng-src="{{auction.itemimg}}" class="md-card-image" alt="{{auction.itemname}}">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{auction.itemname | uppercase}}</span>
            </md-card-title-text>

        </md-card-title>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" ng-src="{{auction.sellerimg}}" alt="{{auction.firstname}}">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-subhead">Seller</span>
                <span class="md-title">{{(auction.firstname + " "+ auction.lastname) | uppercase }}</span>
            </md-card-header-text>
            <md-card-header-text>
                <span class="md-subhead">Rating </span></span>
                <span class="md-title center">{{(auction.rating ) | uppercase }}<span class="mdi mdi-star"></span>
            </md-card-header-text>
            <md-card-header-text>
                <span class="md-subhead">Total bids</span>
                <span class="md-title center">{{(auction.totalbidders) | number }}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <div layout="row">
                <div flex>
                    <h5 class="bid-italic">
                        Item Overview:
                    </h5>
                    <div class="item-overview">
                        <p>Description: {{auction.descriptions}}</p>
                        <ul>
                            <li>
                                Opened: {{auction.postdate | date:"MM/dd/yyyy 'at' h:mma"}}
                            </li>
                            <li>
                                Ending: {{auction.expiredates | date:"MM/dd/yyyy 'at' h:mma"}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div flex>
                    <form name="bid" ng-submit="bid.$valid && auction.post()" novalidate>
                        <md-input-container required class="md-block" md-is-error="bid.bidamount.$invalid && (bid.$submitted || bid.bidamount.$touched)">
                            <label class="mdi mdi-cart"> Enter Bid Amount</label>
                            <input name="bidamount" ng-model="auction.bidprice" required type="number" min="{{auction.bidincrement}}">
                            <div ng-messages=" bid.bidamount.$error " ng-if="bid.$submitted || bid.bidamount.$invalid">
                                <div ng-message="required ">bidamount can't be empty.</div>
                                <div ng-message="min">Bid amount atleast be {{auction.bidincrement | currency}}</div>
                            </div>
                            <h6 class="mdi "> Enter {{((auction.bidincrement)| currency:"USD$")}} or more</h6>
                        </md-input-container>
                    </form>
                </div>
            </div>
        </md-card-content>
    </md-card>
    <div class="product-single create-auction  biddialog">
        <md-content layout-padding>
            <md-card ng-show="auctionhistory">
                <md-subheader class="md-no-sticky">BIDDING HISTORY</md-subheader>
                <!--<md-subheader class="md-no-sticky">Select</md-subheader> -->
                <md-list-item ng-repeat="person in auctionhistory.slice().reverse()">
                    <img alt="{{ person.firstname }}" ng-src="../images/placeholder.jpg" class="md-avatar" />

                    <span class="bidder">{{(person.currentwinner) | uppercase}}</span>
                    <span classs="price-tag">{{person.currentbid | currency}}</span>
                    <md-icon class="mdi mdi-crown" ng-show="person.currentwinner == person.bidder" aria-label="Delete" class="md-secondary md-hue-3"></md-icon>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>
            </md-card>
        </md-content>
    </div>

    <md-card-actions layout="row ">
        <span flex></span>
        <md-button class="md-primary mdi mdi-checkbox-marked-circle " ng-click="auction.post() ">
            PLACE BID
        </md-button>
    </md-card-actions>

</div>