<section flex id="products" ng-cloak ng-controller="ProductsCtrl as p">
    <div class="container filter-sort">
        <div class="search-bar" layout="column">
            <input class="search-input" placeholder="Search for products" type="text" ng-model="searchText">
        </div>
        <div class="filter-bar" layout="row">
            <md-input-container class="md-block sortby">
                <label>Price</label>
                <md-select ng-model="orderBy" aria-label="soert-by-selections">
                    <md-optgroup label="Price">
                        <md-option value="price-high-low">High</md-option>
                        <md-option value="price-low-high">Low</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block sortby">
                <label>Bids</label>
                </label>
                <md-select ng-model="orderBy" aria-label="soert-by-selections">
                    <md-optgroup label="Total Bids">
                        <md-option value="bids-high-low">High</md-option>
                        <md-option value="bids-low-high">Low</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block sortby">
                <label>Year</label>
                </label>
                <md-select ng-model="orderBy" aria-label="soert-by-selections">
                    <md-optgroup label="Year Manufactured">
                        <md-option value="year-high-low">High</md-option>
                        <md-option value="year-low-high">Low</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block sortby">
                <label>Post Date</label>
                <md-select ng-model="orderBy" aria-label="soert-by-selections">
                    <md-optgroup label="Post Date">
                        <md-option value="post-high-low">Newest</md-option>
                        <md-option value="post-low-high">Oldest</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block sortby">
                <label>Expire Date</label>
                <md-select ng-model="orderBy" aria-label="soert-by-selections">
                    <md-optgroup label="Expire Date">
                        <md-option value="exp-high-low">Newest</md-option>
                        <md-option value="exp-low-high">Oldest</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <span class="filter-holder" flex>
            <md-input-container>
                <label>Category</label>
                <md-select ng-model="slectedCategory " aria-label="filter-by-selections " multiple="true ">
                    <md-optgroup label="Filter by category ">
                        <md-option ng-repeat="categories in getCat() " ng-value="categories ">
                            <md-checkbox aria-label="{{categories}} " ng-value="{{categories}} " class="md-primary " ng-model="filter[categories] ">{{categories}}</md-checkbox>
                        </md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </span>
        </div>

    </div>
    <div class="container ">
        <div class="products-page ">
            <a class="card " ng-href="{{item.url}} " ng-repeat="item in filtered=(items | filter:filterByCategory) | filter:searchText | orderBy:[orderByPrice, orderByBids ,orderByYear, orderByPost, orderByExp] ">
                <md-card>
                    <img class="md-card-image " ng-src="../images/bike.png ">
                    <div class="card-info ">
                        <div class="left ">
                            <span class="item-price ">{{item.currentbid | currency}}</span>
                        </div>
                        <div class="left ">
                            <img ng-src="../images/profile.png ">
                        </div>
                        <div class="left ">
                            <span class="num-bid ">
                <i class="fa fa-eye "></i>
                {{item.totalbids}}
              </span>
                        </div>
                    </div>
                    <md-card-content>
                        <div class="left ">
                            <h5 class="md-title ">{{item.itemname}}</h5>
                        </div>
                        <div class="right ">
                            <md-button class="md-primary ">Bid</md-button>
                        </div>
                    </md-card-content>
                </md-card>
            </a>
        </div>
    </div>
</section>