<div class="staffpicks-container-title">
    <h5>STAFF PICKS</h5>
</div>
<div class="staffPicks-slider" ng-controller="StaffPicksCtrl">
    <slick init-onload=true data="staffPicksItems" accessibility=true dots=true infinite=true speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1>
        <div ng-repeat="item in staffPicksItems">
            <div class="staffpicks-item-container">
                <div class="left-side">
                    <div class="item-title">
                        <h3>{{item.title | uppercase}}</h3>
                        <span><i class="fa fa-eye"></i> {{item.totalbids}} bids                 </span><span><i class="fa fa-hourglass-end"></i> {{item.expire}} days remaining</span>

                    </div>
                    <div class="item-image">
                        <img src="{{item.image}}">
                    </div>
                </div>
                <div class="right-side">
                    <div class="item-and-profile">
                        <div class="profile-info">
                            <a href="{{item.bidder.url}}">
                                <img src="{{item.bidder.image}}" alt="Profile Image">
                                <div class="profile-desc">
                                    <h4>{{item.bidder.name | uppercase}}</h4>
                                    <div class="rate">{{item.bidder.rating}} <i class="fa fa-star-o"></i></div>
                            </a>
                            <hr>
                            </div>
                        </div>
                        <div class="item-desc"><i class="fa fa-align-left"></i> {{item.desc}}

                        </div>
                        <div class="quantity">
                            Quantity - <span> {{item.quantity}} available</span></div>
                    </div>
                </div>
            </div>


        </div>
    </slick>
</div>