<div class="staffpicks-container-title">
    <h5>STAFF PICKS</h5>
</div>
<div class="staffPicks-slider" ng-controller="StaffPicksCtrl">
    <slick init-onload=true data="staffPicksItems" accessibility=true dots=true infinite=true speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1 class="slider autoplay">
        <div ng-repeat="item in staffPicksItems">
            <div class="staffpicks-item-container">
                <div class="staffpicks-item-image">
                    <img src="{{item.image}}">
                    <div class="staffpicks-item-desc-div">
                        <div class="staffpicks-item-price">
                            <div class="staff-picks-left">
                                <h4>{{item.bidAmount}}</h4>
                                <h5>bid</h5>

                            </div>
                            <span class="verticle-divider"></span>
                            <div class="staff-picks-left">
                                <h4>{{item.numberOfBids}}</h4>
                                <h5>bids</h5>
                            </div>
                            <span class="verticle-divider"></span>
                            <div class="staff-picks-left">
                                <h4>{{item.daysRemaining}}</h4>
                                <h5>days to go</h5>
                            </div>
                        </div>
                        <div class="staffpicks-item-title">
                            <h4>{{item.title}}</h4>
                            <h6>{{item.description}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </slick>
</div>