<section id="topseller" ng-controller="TopsellercatCtrl" flex ng-cloak>
    <div class="container">
        <div class="title">
            Save by bidding from top seller categories
        </div>
        <div class="categories">
            <a ng-href="{{category.url}}" class="card" ng-repeat="category in topsellercategory">
                <md-card>
                    <img class="md-card-image" ng-src="{{category.image}}">
                    <md-card-content>
                        <h5 class="md-title">{{category.title}}</h5>
                    </md-card-content>
                </md-card>
            </a>
        </div>
    </div>
</section>
